$colors: (
  tram: #C23030,
  trolleybus: #007C1E,
  bus: #0E6BB0
);

$color-neutral-light: #BDDEFF;
$color-neutral-dark: #343D46;

$inactive-colors: (
  tram: #FCF5F5,
  trolleybus: #F5FCF7,
  bus: #F5F9FC,
);
@function inactive-color($type) {
  @return map_get($inactive-colors, $type)
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  height: 100%;
}

#cesiumContainer {
  flex: 1;
  overflow: hidden;
}

body {
  height: 100%;
  font-family: "Open Sans";
}

main {
  height: 100%;
}
main > div {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.viewer {
  flex: 3;
  position: relative;
  display: flex;
  flex-direction: column;
}
aside {
  flex: 1;
  box-shadow: -10px 0 36px -13px rgba(0,0,0,1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  max-width: 330px;
}

.time {
  //TODO add to colors
  color: #343D46;
  font-weight: bold;
  width: 6em;
  display: flex;
  justify-content: space-around;
  align-items: center;

  cursor: default;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.timeline {
  flex-grow: 1;
  //TODO add to colors
  background-color: ghostwhite;
  cursor: pointer;
  text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;

    /* TODO mixin */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    text-anchor: middle;

    stroke: white;
    stroke-width: 3;
    paint-order: stroke;
  }
  line {
    stroke: $color-neutral-dark;
  }
  line.stat {
    stroke: #9fb0c5;
  }
  rect.stat {
    fill: #ddecfb;
  }
}

#credits {
  // Cesium logo height + padding
  height: 30px;
  background-color: $color-neutral-dark;
}
.cesium-credit-imageContainer {
  float: left;
}
.time-panel {
  box-shadow: 0 -10px 36px -13px black;
  display: flex;
  width: 100%;
  z-index: 10;
}
.timeline-marker {
  // TODO add to colors
  fill: rgba(208, 234, 251, 0.47);
  border-right: 4px solid $color-neutral-dark;
}
.timeline-marker2 {
  fill: $color-neutral-dark;
}


.bottom-section {
  margin: 2px 2px 2px 0;
}

@mixin bottom-button {
  cursor: pointer;
  background-color: white;
  border: 0;
  border-radius: 5px;

  &.active {
    background-color: $color-neutral-dark;
    color: $color-neutral-light;
  }
  &:hover {
    background-color: $color-neutral-dark;
    color: $color-neutral-light;
  }
  &:focus {
    outline: none;
  }
}

.modes {
  @extend .bottom-section;

  button {
    @include bottom-button();

    margin-right: 2px;
    height: 100%;
  }
}

.speed {
  @extend .bottom-section;

  position: relative;
  width: 2.5em;
}
.speed-selector {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2px;
  margin-left: -2px;
  button {
    @include bottom-button();
    display: block;
    width: 100%;
  }
}
.hidden {
  display: none;
}
.speed-current {
  height: 100%;
  width: 100%;
  @include bottom-button();
}


.info-panel {
  padding: 10px 20px;
  background-color: $color-neutral-dark;
  color: $color-neutral-light;
}

.app-title {
  font-weight: 700;
}
.app-subtitle {
  font-size: 12px;
}

.panel {
  padding: 15px 20px;
  flex:1;
  border-right: 7px solid gray;

  display: flex;
  flex-direction: column;

  overflow-y: auto;
}

@each $type, $color in $colors {
  .panel-#{$type} {
    border-right-color: $color;
  }
}

.heading {
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  color: gray;
  margin-top: 0;
}

@each $type, $color in $colors {
  .heading-#{$type} {
    border-bottom-color: $color;
    color: $color;
  }
}

.route-list {
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.route-link {
  display: inline-block;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  min-width: 1em;
  text-align: center;
  color: white;
}

@each $type, $color in $colors {
  .route-link-#{$type} {
    background-color: inactive-color($type);
    //border: 1px solid inactive-color($type);
    color: $color;
    &:hover {
      background-color: $color;
      color: white;
    }
    &.route-link-active {
      background-color: $color;
      color: white;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}

.route-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 48px;
}

.scr {
  flex-grow: 1;
  overflow-y: auto;
}

.trip-stops {
  width: 100%;
  margin-top: 18px;

  tr {
    padding: 0 5px;
    td:nth-child(1) {
      width: 30px; max-width: 30px; text-align: right; padding-right: 10px; font-weight: 700;
    }
    td:nth-child(2) {
      padding-right: 10px;
    }
    th:nth-child(2) {
      text-align: left;
    }
  }
  tr:nth-child(2n) { background-color: #ededed; }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  vertical-align: middle;
  position: relative;
}

.stop-name {
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}
a.stop-name:hover {
  text-decoration: underline;
}
.route-stop-link {
  display: inline-block;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  min-width: 1em;
  text-align: center;
}
.route-list-item {
  font-family: 'Open Sans';
  font-weight: 400;
  text-decoration: none;
}

.t tr td:nth-child(1) { width: 50px; }
.t tr td:nth-child(2) { width: 75px; }
.t tr:nth-child(2n) { background-color: #ededed; }

.route-stop-timetable {
  width: 100%;
  margin-top: 18px;

  tr {
    padding: 0 5px;
    td:nth-child(1) {
      width: 30px; max-width: 30px; text-align: right; padding-right: 10px; font-weight: 700;
    }
    td:nth-child(2) {
      padding-right: 10px;
    }
    th:nth-child(2) {
      text-align: left;
    }
  }
  tr:nth-child(2n) { background-color: #ededed; }
}

.stop-name {
  font-weight: bold;
}
.timetable-stop {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 16px;
}

.stop-marker {
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 9px;
  border: 4px solid lightgray;
  margin: 0 4px;
  z-index: 20;
  position: relative;
}

.stop-marker-active {
}

.line-marker {
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  left: 9px;
  background-color: lightgray;
}
.line-marker-active {
  z-index: 15;
  position: absolute;
  top: 0;
  bottom: 100%;
  width: 6px;
  left: 9px;
}

@each $type, $color in $colors {
  .panel-#{$type} .stop-marker-active {
    border-color: $color;
  }
}

@each $type, $color in $colors {
  .panel-#{$type} .line-marker-active {
    background-color: $color;
  }
}

.cesium-selection-wrapper svg {
  fill: #bcddfe;
  stroke: #ffffff;
  paint-order: stroke;
  stroke-width: 5px;
}

.search-box {
  input {
    border: 0;
    border-bottom: 1px solid gray;
    outline: none;
    width: 100%;
  }

  input::placeholder {
    font-style: italic;
  }

  input:focus::placeholder {
    visibility: hidden;
  }

  li {
    list-style: none;
  }

  ul {
    padding-left: 3px;
  }
}
